

<!--<sticker-Grid-Component>
    
</sticker-Grid-Component>

<sticker-Chart-Component>

</sticker-Chart-Component>

<sticker-Spider-Web-Component>

</sticker-Spider-Web-Component>-->
<div class="container">
    <div class="row">
        <h1>Pick A Sticker Component</h1>
        <div class="col-md-6">
            <sticker-Component>

            </sticker-Component>
        </div>
        <div class="col-md-6">
            <sticker-Component>

            </sticker-Component>
        </div>
    </div>
</div>
