<div id="gtco-history" class="gtco-section border-bottom animate-box">
    <div class="gtco-container">

        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                <h2>Company History</h2>
                <p>This is a fake company history data just to fill the page!</p>
            </div>
        </div>
        <div class="row row-pb-md">
            <div class="col-md-6">
                <p>
                    No one would have guessed that the small, fancy dry goods store that opened on the corner of 14th Street and 6th Avenue in New York City in 1858 would grow to be one of the largest retailers in the world.

                    But after several failed retail ventures, Rowland Hussey Macy’s determination and ingenuity paid off at the age of 36 with the launch of R.H. Macy & Co. He adopted a red star as his symbol of success, dating back to his days as a sailor. First-day sales totaled $11.06 but by the end of the first full year, sales grossed approximately $85,000. By 1877, R.H. Macy & Co. had become a full-fledged department store occupying the ground space of 11 adjacent buildings.

                    Always the innovator, Macy’s is known for several firsts that changed the retail industry. Macy’s was the first retailer to promote a woman, Margaret Getchell, to an executive position, making business history. Macy’s pioneered such revolutionary business practices as the one-price system, in which the same item was sold to every customer at one price, and quoting specific prices for goods in newspaper advertising. Known for its creative merchandising, Macy’s was the first to introduce such products as the Idaho baked potato and colored bath towels. Macy’s also was the first retailer to hold a New York City liquor license.

                    By November 1902, the store had outgrown its modest storefront and moved uptown to its present Herald Square location on Broadway and 34th Street, establishing an attraction for shoppers from around the world. With the store’s 7th Avenue expansion completed in 1924, Macy’s Herald Square became the “World’s Largest Store,” with more than 1 million square feet of retail space. Note that Macy’s Herald Square expanded to 1.1 million square feet of retail space in the renovation project unveiled in 2015.

                    By 1918, R.H. Macy & Co. was generating $36 million in annual sales. Yet, the prosperity of the retailer was never more apparent than when the company went public in 1922 and began to open regional stores and take over competing retailers. In 1923, the Toledo-based department store Lasalle & Koch was acquired; the next year, Davison-Paxton in Atlanta was acquired; and in 1936, the Newark-based Bamberger’s was purchased.

                    To help celebrate their new American heritage, Macy’s immigrant employees organized the first Christmas Parade in 1924. The procession featured floats, bands, animals from the zoo and 10,000 onlookers, beginning a time-honored tradition now known as the annual Macy’s Thanksgiving Day Parade.

                    
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    In 1945, the company expanded west and purchased O’Connor Moffatt & Company in San Francisco. Two years later, O’Connor Moffatt stores, including the landmark Union Square store that opened in 1866, were converted to Macy’s after a survey indicated that San Franciscans would welcome the name.

                    Macy’s California broke new ground with the first department store flower show in 1946. What began as a fragrance promotion in the cosmetics department now annually welcomes the spring season, treating visitors to a botanical, cultural and community spectacle and is held in New York City, Chicago, Minneapolis, Philadelphia and Washington, D.C., in addition to San Francisco. In 1971, Macy’s Union Square store’s lower level, once cluttered with bargains, was transformed into “The Cellar,” changing the way customers shop for housewares. Due to its success, the Herald Square store followed suit five years later.

                    On December 19, 1994, Federated Department Stores, Inc. (now known as Macy’s, Inc.) acquired R.H. Macy & Co., creating the world’s largest premier department store company. Federated Department Stores operated more than 400 department stores and 157 specialty stores in 37 states.

                    A&S Department Stores were converted to the Macy’s nameplate in May 1995. Also in 1995, Federated acquired The Broadway Department Stores, bringing Broadway, Emporium and Weinstocks to the Macy’s family, as well as six former I. Magnin stores. Some 46 stores were converted to the Macy’s nameplate. Following the model of A&S, Jordan Marsh Department Stores of Boston, already owned by Federated, was converted to Macy’s in March 1996. In January 2001, Macy’s absorbed 17 Stern’s Department Stores located in New York and New Jersey. In June 2001, Federated purchased the Liberty House operations in Hawaii and Guam, bringing the proud Macy’s tradition and heritage to the Pacific.

                    Macy’s entered 2005 with about 240 locations, primarily on the East and West Coasts. With the conversion of all Federated’s regional store name-plates in March 2005, Macy’s grew to about 425 locations across the country. In September 2006, with the conversion of stores acquired from The May Department Stores Company, Macy’s now serves customers through approximately 730 stores in virtually every major geographic market in the United States, as well as the macys.com website.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>See The Photos</h3>
            </div>
            <div class="col-md-12">
                <div class="owl-carousel owl-carousel-fullwidth">
                    <div class="item">
                        <img src="~/Content/images/img_1.jpg" alt="Empty">
                    </div>                                         
                    <div class="item">                             
                        <img src="~/Content/images/img_2.jpg" alt="Empty">
                    </div>                                         
                    <div class="item">                             
                        <img src="~/Content/images/img_3.jpg" alt="Empty">
                    </div>                                         
                    <div class="item">                             
                        <img src="~/Content/images/img_4.jpg" alt="Empty">
                    </div>                                         
                    <div class="item">                             
                        <img src="~/Content/images/img_5.jpg" alt="Empty">
                    </div>                                         
                    <div class="item">                             
                        <img src="~/Content/images/img_6.jpg" alt="Empty">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div id="gtco-team" class="gtco-section">
    <div class="gtco-container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                <h2>Meet The Team</h2>
                <p>Following are the people that helped this company reach its greatness .Lovely people </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
                <div class="gtco-staff">
                    <img src="~/Content/images/person_1.jpg" alt="Empty">
                    <h3>Employee No.6</h3>
                    <strong class="role">Web Designer</strong>
                    <p>This one is going to be a gread leader some day</p>
                    <ul class="gtco-social-icons">
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                        <li><a href="#"><i class="icon-github"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
                <div class="gtco-staff">
                    <img src="~/Content/images/person_2.jpg" alt="Empty">
                    <h3>Employee No.5</h3>
                    <strong class="role">Front-end Developer</strong>
                    <p>Bitchy</p>
                    <ul class="gtco-social-icons">
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                        <li><a href="#"><i class="icon-github"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-lg-4 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
                <div class="gtco-staff">
                    <img src="~/Content/images/person_3.jpg" alt="Empty">
                    <h3>Employee No.4</h3>
                    <strong class="role">Back-end Developer</strong>
                    <p>Another one that can rock&roll</p>
                    <ul class="gtco-social-icons">
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                        <li><a href="#"><i class="icon-github"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix visible-lg-block visible-md-block"></div>

            <div class="col-lg-4 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
                <div class="gtco-staff">
                    <img src="~/Content/images/person_1.jpg" alt="Empty">
                    <h3>Employee No.3</h3>
                    <strong class="role">Web Designer</strong>
                    <p>This one spends a lot od time with photoshop</p>
                    <ul class="gtco-social-icons">
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                        <li><a href="#"><i class="icon-github"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-lg-4 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
                <div class="gtco-staff">
                    <img src="~/Content/images/person_2.jpg" alt="Empty">
                    <h3>Employee No.2</h3>
                    <strong class="role">Front-end Developer</strong>
                    <p>This one make beautifull user friendly applications</p>
                    <ul class="gtco-social-icons">
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                        <li><a href="#"><i class="icon-github"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
                <div class="gtco-staff">
                    <img src="~/Content/images/person_3.jpg" alt="Empty">
                    <h3>Employee No.1</h3>
                    <strong class="role">Back-end Developer</strong>
                    <p>This guy can rock the world</p>
                    <ul class="gtco-social-icons">
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                        <li><a href="#"><i class="icon-github"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
        </div>
    </div>
</div>


<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>
